<!DOCTYPE html>
<html lang="it">
<head><meta charset="UTF-8"><title>nav</title></head>
<body>
  <nav id="bottom-nav">
    <button id="home-btn"><div class="navbtncontent "><img class ="dashboard" src="icons/dashboard.png" alt="Home">HOME</div></button>
    <button id="search-btn"><div class="navbtncontent icon-inactive"><img class = "dashboard" src="icons/search-regular.png" alt="Search">SEARCH</div></button>
    <button id="library-btn"><div class="navbtncontent icon-inactive"><img class = "dashboard"  src="icons/vault.png" alt="Library"> THE VAULT</div></button>
    <button id="add-btn">＋</button>
  </nav>
</body>
</html>
